main{
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    min-height: 700px;
}

=======
    min-height: 500px;
}
>>>>>>> 97a75e068f55c6c8dad270f3cefac5b8798308e8
#section-login{
    height: 100%;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 20px;
<<<<<<< HEAD
=======
    
>>>>>>> 97a75e068f55c6c8dad270f3cefac5b8798308e8
}