main{
    min-height: 500px;
}

<<<<<<< HEAD
#section-banner{
=======
#section{
>>>>>>> 97a75e068f55c6c8dad270f3cefac5b8798308e8
    min-height: 400px;
}

#section-banner img{
<<<<<<< HEAD
    height: 500px;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
=======
    height: 500px;    
}
h2{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
>>>>>>> 97a75e068f55c6c8dad270f3cefac5b8798308e8
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: auto;
  }
<<<<<<< HEAD
  
  mat-grid-list{
    margin: 10px 0px;
  }

  mat-grid-tile{
    padding: 2px;
    border-radius: 30px;
}

mat-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-actions{
    display: flex;
    justify-content: space-around;
  }  

  mat-card-actions p{
    color: red;
    font-size: 30px;
  }

  mat-card img{
    height: 150px;
    width: 400px;
  }





=======

  mat-card-header {
    color: blue;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  mat-card-content p{
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;

  }
  mat-card {
    padding: 20px;
    height: 400px;
  
  }

  mat-card img{
    height: 200px;
    width: 350x;
    border-radius: 30px;
  }
  mat-card-actions p{
    font-size: 30px;
    color: rgba(216, 33, 48, 0.822);  
  }
 

  
>>>>>>> 97a75e068f55c6c8dad270f3cefac5b8798308e8
